@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .hover-underline {
      @apply relative  cursor-pointer transition-all ease-in-out;
    }
    .hover-underline::before,
    .hover-underline::after {
      content: '';
      position: absolute;
      background-color: #3B82F6; 
      height: 2px;
      width: 0;
      transition: width 0.7s ease-in-out;
    }
    .hover-underline::before {
      bottom: 0;
      left: 50%;
    }
    .hover-underline::after {
      bottom: 0;
      right: 50%;
    }
    .hover-underline:hover::before,
    .hover-underline:hover::after {
      width: 50%;
    }
    .hover-underline:hover {
      color: #3B82F6; 
    }
  }
